
body {
	font-family: 'Didact Gothic', Verdana, sans-serif;
	background-color:black;
	}
			
div#WmStephenScott {
	font-family: 'Didact Gothic', Helvetica, Verdana, sans-serif;
	color: white;
	background-color: #C94B5B;
	padding-top: 40px;
	padding-bottom:40px;
	padding-left:40px;
	font-size:40px;
	}
div#contactForm {
	float:right;
	padding-right: 100px;
}
h1#WmStephenScott {
	padding-left:40px;
	}
h3#contactMe {
	float:right;
	color:black;
	padding-right:80px;
	padding-top:120px;
}
p {
	color:white;
	font-size:18px;
	}

aside {
	float:left;
	background-color:'F0E4C9';
	color: white;
	padding-left:40px;
	opacity:1;
	width:20%;
	}

div#contentColumn {
	float:left;
	width:25%;
	color:white;
	background-color: black;
	margin:10px;
	}

div#imageColumn {
	float:right;
	width:45%;
	color:white;
	background-color:black;
	margin:10px;
}

div#feedbackFormDiv {
	background-color:#C94B5B;
	float:right;
	padding-right:40px;
}

head {
	}
}