<!DOCTYPE html>
<html>
<head>
  <title>Slick Playground</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
  <style type="text/css">


    .slider {
        width: 90%;
        margin: 100px auto;
    }

    .slider-main {
        width: 50%
        margin: 100px auto;
     }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
  </style>
</head>
<body>

  <section class="slider-for slider">
    <div><img src='static/img/3dModeling/lookingup.png'></div>
    <div><img src='static/img/3dModeling/big_ring.jpg'></div>
    <div><img src='static/img/architecture/Axons-01.png'></div>
    <div><img src='static/img/architecture/perspective.png'></div>
    <div><img src='static/img/3dModeling/daixing.jpg'></div>
    <div><img src='static/img/3dModeling/random_blocks.png'></div>
    <div><img src='static/img/3dModeling/redtail.jpg'></div>
  </section>


  <section class="center slider">
    <div><img width=250px src='static/img/3dModeling/lookingup.png'></div>
    <div><img width=250px src='static/img/3dModeling/big_ring.jpg'></div>
    <div><img width=250px src='static/img/architecture/Axons-01.png'></div>
    <div><img width=250px src='static/img/architecture/perspective.png'></div>
    <div><img width=250px src='static/img/3dModeling/daixing.jpg'></div>
    <div><img width=250px src='static/img/3dModeling/random_blocks.png'></div>
    <div><img width=250px src='static/img/3dModeling/redtail.jpg'></div>
  </section>



  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="/static/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for'

      });
      $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      asNavFor: '.center',
      focusOnSelect: true,
      variableWidth: false,
      adaptiveHeight: true,
      autoplay: true,
      autoplaySpeed:3000

      });
     });
  </script>

</body>
</html>

